body {
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1F2937;
    padding: 24px 192px;
    display: flex;
    justify-content: space-between;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.section-one {
    background-color: #1F2937;
    padding: 96px 192px;
    display: flex;
}

.section-one-left {
    flex-shrink: 1;
    padding-right: 192px;
}

.section-one-right {
    background-color: #626973;
    min-width: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-two {
    padding: 96px 0px;
}

.section-two-information {
    margin: 0px 336px;
    display: flex;
    justify-content: space-between;
}

.section-three {
    background-color: #E5E7EB;
    padding: 96px 336px;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-text {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0px 8px;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px 0px;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin: 0px;
}

.button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    border: 0px;
    border-radius: 8px;
    padding: 8px 24px;
}

img {
    color: #E5E7EB;
}

.information-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.information-div {
    margin: 0px 10px;
    max-width: 200px;
}

.information-image {
    min-height: 200px;
    border-style: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 24px;
}

.alternative-information-text {
    font-size: 18px;
    color: #1F2937;
    text-align: center;
    padding: 0px 16px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-writer {
    font-size: 24px;
    color: #1F2937;
    text-align: right;
    font-weight: bold;
}