body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

.header {
    background-color: #1F2937;
    padding: 32px 128px;
    display: flex;
    justify-content: space-between;
}

.content1 {
    background-color: #1F2937;
    padding: 64px 128px;
    display: flex;
    gap: 64px;
}

.content2 {
    padding: 32px 256px 64px;
    text-align: center;
}

.header-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.links {
    display: flex;
    align-items: center;
    gap: 32px;
}

.text {
    flex: 1;
}

.image {
    background-color: #6D747D;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    text-align: center;
    flex: 1;
}

.bold {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 32px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.secondary-text {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin: 32px 0;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.button1 {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 900;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
}

.card {
    width: 256px;
}

.images {
    width: 128px;
    height: 128px;
    border: 4px solid #3882F6;
    border-radius: 8px;
}