* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1F2937;
    padding: 16px 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

.title-content {
    background-color: #1F2937;
    padding: 64px 128px;
    display: flex;
    align-items: stretch;
    gap: 256px;
}

.title-left {
    flex: 1;
}

.title-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 16px;
}

.title-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 16px 0;
}

button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

.title-image {
    background-color: #E5E7EB;
    color: #1F2937;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-content {
    padding: 64px 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.sub-info {
    flex-basis: 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.image {
    min-height: 150px;
    border: 4px #3882F6 solid;
    border-radius: 8px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.image-text {
    text-align: center;
    color: #1F2937;
}

.quote-content {
    background-color: #E5E7EB;
    padding: 128px 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    color: #1F2937;
    font-weight: 900;
    align-self: flex-end;
}

.signup-content {
    background-color: #3882F6;
    margin: 128px;
    padding: 64px 128px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}

.signup-title {
    font-size: 24px;
    color: #F9FAF8;
}

.signup-text {
    font-size: 18px;
    color: #E5E7EB;
}

.signup-button {
    border: 2px #F9FAF8 solid;
    padding: 4px 32px;
}