body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding: 0 48px;
    display: flex;
    justify-content: space-between;
}

.content1 {
    background-color: #1F2937;
    padding: 48px;
    display: flex;
    gap: 24px;
}

.header-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.text {
    flex: 1;
}

.secondary-text {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.button1 {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 900;
    padding: 9px 18px;
    border: none;
    border-radius: 9px;
}

.image {
    background-color: #6D747D;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    text-align: center;
    flex: 1;
}