body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
}

.header-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.link {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}